__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.eggs
*.egg-info
.idea
.vscode
.git
.mypy_cache
.pytest_cache
.coverage
.DS_Store
*.log
wandb
mlruns
.prefect
data/
models/
notebooks/
experiments/
